<!DOCTYPE html>
<html lang="en">

<head>
    <title>Manager-page</title>
    <link rel="stylesheet" href="../stylesheets/manager.css">
    <script src="https://kit.fontawesome.com/4cf720d27e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>


<body>
    <div id="mydiv" class="page-header">
        <div class="upper-header">
            <div class="logo-container">
                <a href="/">
                    <h1>GreenEarth</h1>
                </a>
            </div>
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input type="search" placeholder="Search..." class="search-bar">
            </div>
            <div class="rightcontent-container">
                <img src="../images/profile.png" @click="toggleDropdown" alt="Profile Picture" onerror="this.onerror=null; this.src=''; this.style.backgroundColor='white'; this.style.borderRadius='50%';">
                <div class="dropdown-menu" :data-show="clicked.toString()">
                    <ul>
                        <li><a href="/">Home Page</a></li>
                        <li><a href="/manager/profile.html">Your Profile</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="lower-header">
            <nav class="navbar">
                <ul>
                    <li class="active">
                        <a href="Home.html">
                            <div class="navbar-link">Home</div>
                        </a>
                    </li>
                    <li class="">
                        <a href="Event.html">
                             <div class="navbar-link">Event</div>
                        </a>
                    </li>
                    <li class="">
                        <a href="Member.html">
                            <div class="navbar-link">Member</div>
                        </a>
                    </li>
                    <li class="">
                        <a href="Update.html">
                            <div class="navbar-link">Update</div>
                        </a>
                    </li>
                    <li class="">
                        <a href="Request.html">
                            <div class="navbar-link">Request</div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="manager-page" class="home-body-container">
        <div class="welcome_div">
            <h1>🎉 Hello {{user.Name}}, Welcome to GreenEarth Organisation!</h1>
            <h2>Have a good day!</h2>
        </div>
        <hr>
        <div class="section">
            <h2>Events</h2>
            <ul class="event-list">
                <li v-for="event in events" :key="event.event_ID" class="event-item">
                    <div class="details">
                        <h3>{{event.Name}}</h3>
                        <p>Date: {{event.Date}}</p>
                        <p>Location: {{event.Location}}</p>
                    </div>
                    <div class="actions">
                        <button @click="directEvent(event)">Details</button>
                    </div>
                </li>
                <!-- Add more event items as needed -->
                <p v-if="events.length === 0">No events yet.</p>
            </ul>

        </div>
        <div id="left-container" class="container">
            <div class="section">
                <h2>Updates</h2>
                <ul class="update-list">
                    <li class="update-item" v-for="update in truncatedUpdates" :key="update.UpdateID">
                        <div class="details">
                            <h3>{{update.Title}} <span class="">({{update.Time_stamp}})</span></h3>
                            <div v-html="sanitizeHTML(update.truncatedMessage)"></div>
                        </div>
                        <div class="actions">
                            <button type="button" @click="directUpdate(update)">Read More</button>
                        </div>
                    </li>
                    <p v-if="truncatedUpdates.length === 0">No Updates yet.</p>
                </ul>
            </div>

        </div>
        <div id="right-container" class="container">
            <!-- <div class="container-header">
                <div class="header-content">
                    <h2>Members</h2>
                </div>
            </div>
            <div class="container-body">
                <div v-for="member in members" :key="member.member_ID">
                    <p> <span>{{member.First_name}} {{member.Last_name}} </span>  </p>
                </div>
            </div> -->
            <div class="section">
                <h2>Members</h2>

                <ul class="member-list">
                    <li v-for="member in members" :key="member.member_ID" class="member-item">
                        <div class="details">
                            <h3>{{member.First_name}} {{member.Last_name}}</h3>
                            <p v-if="user.First_name + ' ' + user.Last_name === member.First_name + ' ' + member.Last_name">Manager</p>
                            <p v-if="user.First_name + ' ' + user.Last_name !== member.First_name + ' ' + member.Last_name">Member</p>
                            <p v-if="member.Role_name==='Administrator'">Admin</p>
                        </div>
                    </li>
                    <!-- Add more member items as needed -->
                </ul>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/4cf720d27e.js" crossorigin="anonymous"></script>
    <script src="../javascripts/manager_js/home.js"></script>
</body>

</html>