<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About us</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/aboutUs.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link href="https://fontawesome.com/icons/location-dot?f=classic&s=solid&pc=%23135b66" rel="stylesheet">
        <link href="https://fontawesome.com/icons/calendar-days?f=classic&s=solid&pc=%23135b66" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9e0292a87e.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>

    <body>
      <!--Header-->
      <header id="mydiv" class="page-header">
            <div class="upper-header">
                <div class="logo-container">
                    <a href="">
                        <h1>GreenEarth</h1>
                    </a>
                </div>
                <div class="search-box">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input type="search" placeholder="Search..." class="search-bar">
                </div>
                <div class="rightcontent-container" id="login-div">
                  <div v-if="loginStatus">
                      <img src="/images/profile.png" @click="toggleDropdown" alt="Profile Picture" onerror="this.onerror=null; this.src=''; this.style.backgroundColor='white'; this.style.borderRadius='50%';">
                      <div class="dropdown-menu" :data-show="clicked.toString()">
                          <ul>
                              <li v-if="user.Role==='User'"><a href="/user/myBranchPage.html">My Branches</a></li>
                              <li v-if="user.Role==='Manager'"><a href="/manager/home.html">Dashboard</a></li>
                              <li v-if="user.Role==='Administrator'"><a href="/admin/admin.html">Dashboard</a></li>
                              <li><a href="/user/profile.html">Your Profile</a></li>
                              <li><a href="/auth/logout">Logout</a></li>
                          </ul>
                      </div>
                  </div>
                  <div v-else="loginStatus">
                      <a href="/auth/login" class="login-btn">Login</a>
                  </div>
              </div>
            </div>
            <div class="lower-header">
                <nav class="navbar">
                    <ul>
                      <li class="">
                        <a href="/user/landingPage.html" v-if="user.Name">
                            <div class="navbar-link">Home</div>
                        </a>
                        <a href="landingPage.html" v-else>
                            <div class="navbar-link">Home</div>
                        </a>
                    </li>
                    <li class="" v-if="user.Name">
                        <a href="/user/myBranchPage.html">
                             <div class="navbar-link">My Branch</div>
                        </a>
                    </li>
                        <li class="">
                          <a href="Branches.html">
                              <div class="navbar-link">Branches</div>
                          </a>
                        </li>
                        <li class="">
                            <a href="landingEventPage.html">
                                 <div class="navbar-link">Event</div>
                            </a>
                        </li>
                        <li class="" v-if="user.Name">
                          <a href="../user/Update.html">
                              <div class="navbar-link">Update</div>
                          </a>
                      </li>
                        <li class="active">
                            <a href="aboutUs.html">
                                <div class="navbar-link">About us</div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
      </header>

      <!-- intro -->
      <div class="AboutUs">
          <div class="about-container">
              <div class="about-header">
                  <div class="header-flex">
                    <div class="header-text">
                      <h1 class="about-h1">We create value-driven leaders</h1>
                      <p>Green Earth enables you to develop the values we believe leaders should live by.</p>
                    </div>
                    <img src="/images/aboutus1.png" alt="Green Earth" class="header-image">
                  </div>
              </div>
              <div class="values-grid">
                  <div class="value-item">
                    <div class="icon-container">
                      <img src="/images/aboutus-intro/integrity.png" alt="intergrity" class ="value-icon">
                      <h2>Demonstrating Integrity</h2>
                    </div>
                    <p>By doing what's right over what's easy, you develop leadership that demonstrates integrity.</p>
                  </div>

                  <div class="value-item">
                    <div class="icon-container">
                      <img src="/images/aboutus-intro/excellence.png" alt="excellence" class ="value-icon">
                      <h2>Striving for Excellence</h2>
                    </div>
                    <p>By taking up challenging opportunities with Green Earth, you get to continuously grow through creativity and innovation.</p>
                  </div>

                  <div class="value-item">
                    <div class="icon-container">
                      <img src="/images/aboutus-intro/participation.png" alt="participation" class ="value-icon">
                      <h2>Enjoying Participation</h2>
                    </div>
                    <p>At Green Earth, you get to celebrate and enjoy the way we are and put your youthful energy and enthusiasm in everything you do.</p>
                  </div>

                  <div class="value-item">
                    <div class="icon-container">
                      <img src="/images/aboutus-intro/sustainably.png" alt="sustainably" class ="value-icon">
                      <h2>Acting Sustainably</h2>
                    </div>
                    <p>In various leadership roles at Green Earth, you get to make long-term decisions that build your mindset to also think of future generations and live sustainably.</p>
                  </div>

                  <div class="value-item">
                    <div class="icon-container">
                      <img src="/images/aboutus-intro/leadership.png" alt="leadership" class ="value-icon">
                      <h2>Activating Leadership</h2>
                    </div>
                    <p>At Green Earth, you get to lead by example and with empathy by taking responsibility for inspiring others to lead as well.</p>
                  </div>

                  <div class="value-item">
                      <div class="icon-container">
                        <img src="/images/aboutus-intro/diversity.png" alt="diversity" class ="value-icon">
                        <h2>Living Diversity</h2>
                      </div>
                      <p>You get to work in inclusive spaces that allow you to truly be yourself and embrace each other's differences as a strength.</p>
                  </div>
              </div>
          </div>
      </div>

      <!-- OUR TEAM -->
      <div class="ourteam-background">
        <div class="Our-Team">
          <h2>Our Team</h2>
          <p>Meet the passionate individuals who make our organization thrive</p>
          <div class="persons">
              <div class="person" style="--color: #782a2b">
                  <div class="person-container">
                    <div class="person-container-inner">
                      <div class="person-circle"></div>
                      <img alt="Khanh image" src="images/persons/khanh.png">
                    </div>
                  </div>
                  <div class="person-divider"></div>
                  <h1>Khanh Le</h1>
                  <p>Member</p>
                </div>

                <div class="person" style="--color: #37375e">
                  <div class="person-container">
                    <div class="person-container-inner">
                      <div class="person-circle"></div>
                      <img alt="Thao image" src="images/persons/thao.png">
                    </div>
                  </div>
                  <div class="person-divider"></div>
                  <h1>Thao Truong</h1>
                  <p>Member</p>
                </div>

                <div class="person" style="--color: #3e6e7c">
                  <div class="person-container">
                    <div class="person-container-inner">
                      <div class="person-circle"></div>
                      <img alt="Duc image" src="images/persons/duc.png">
                    </div>
                  </div>
                  <div class="person-divider"></div>
                  <h1>Minh Duc Kieu</h1>
                  <p>Member</p>
                </div>

                <div class="person" style="--color: #782a2b">
                  <div class="person-container">
                    <div class="person-container-inner">
                      <div class="person-circle"></div>
                      <img alt="Khoi image" src="images/persons/khoi.png">
                    </div>
                  </div>
                  <div class="person-divider"></div>
                  <h1>Khoi Lu</h1>
                  <p>Member</p>
                </div>
        </div>
    </div>

      <div class="InfoBody">
            <!-- Impact -->
            <div class="impact-background">
              <div class="impact-section">
                <div class="impact-header-container">
                  <div class="impact-header">Our Impact</div>
                  <div class="impact-stats">
                    <div class="partners-container">
                      <i class="fa-solid fa-location-dot" style="color: #135b66;"></i>
                      <div class="partners">
                        <h3>266+</h3>
                        <p>Partner organizations</p>
                      </div>
                    </div>
                    <div class="experiences-delivered-container">
                      <i class="fa-solid fa-calendar-days" style="color: #135b66;"></i>
                      <div class="experiences-delivered">
                        <h3>3181+</h3>
                        <p>Experiences delivered last year</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="impact-content">
                  <div>
                    <span class="impact-image">
                      <img src="images/aboutus-impact/impact-image.jpeg" alt="Group Photo">
                    </span>
                  </div>
                  <div class="impact-quote">
                    <p class="quote">I returned to my country with my soul completely grateful and full for having had the opportunity to share such unforgettable moments. A part of my heart stays at the school I volunteered in forever.</p>
                    <p class="author">Brenda Jáuregui, Mexico</p>
                    <p class="title">Volunteered in Indonesia</p>
                  </div>
                </div>
              </div>
            </div>
      </div>

      <!-- How to become a volunteer -->
      <div class="step-background">
        <div class="step-container">
          <div class="step-left">
              <div class="sticky">
                  <h1>Become a volunteer</h1>
                  <p>It takes only 4 steps to become a volunteer</p>
                  <a href="/landingEventPage.html" class="become-volunteer">Become a volunteer</a>
              </div>
          </div>
          <div class="step-right">
              <div class="step">
                <div class="box">
                  <h2 class="step-number">01</h2>
                  <h2 class="step-title">Sign up</h2>
                </div>
                <div class="step-content">
                  <p>Create an account on our platform and fill in all the details on your profile.</p>
                  <img src="/images/aboutus-impact/signup.png" alt="Sign up">
                </div>
              </div>

              <div class="step">
                <div class="box">
                  <h2 class="step-number">02</h2>
                  <h2 class="step-title">Find a project</h2>
                </div>
                <div class="step-content">
                  <p>Use the filters in our search page and find the projects that you are most interested in.</p>
                  <img src="/images/aboutus-impact/find-project.png" alt="Find a project">
                </div>
              </div>

              <div class="step">
                <div class="box">
                  <h2 class="step-number">03</h2>
                  <h2 class="step-title">Go through the selection process</h2>
                </div>
                <div class="step-content">
                  <p>After you apply for a project you will be contacted by us and receive information on the selection process.</p>
                  <img src="/images/aboutus-impact/process.png" alt="Selection process">
                </div>
              </div>

              <div class="step">
                <div class="box">
                  <h2 class="step-number">04</h2>
                  <h2 class="step-title">Get ready</h2>
                </div>
                <p>Once you’re selected, it’s time to pack your bags and prepare all the logistics - don’t worry we’ll be there to help!</p>
                <img src="/images/aboutus-impact/ready.jpeg" alt="Get ready">
              </div>
          </div>
        </div>
      </div>

    </div>

      <!--Footer-->
      <footer class="site-footer">
        <div class="container">
          <div class="footer-columns">
            <div class="footer-column">
              <h6>About</h6>
              <p class="text-justify">GreenEarth <i>CONNECTING WITH NATURE</i> is dedicated to promoting environmental awareness and sustainability. We provide resources, articles, and tips on how to live an eco-friendly lifestyle. Join us in making a positive impact on our planet through education, conservation, and community engagement.</p>
            </div>

            <div class="footer-column">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="#">Sustainability</a></li>
                <li><a href="#">Climate Change</a></li>
                <li><a href="#">Wildlife Conservation</a></li>
                <li><a href="#">Renewable Energy</a></li>
                <li><a href="#">Recycling</a></li>
                <li><a href="#">Green Living</a></li>
              </ul>
            </div>

            <div class="footer-column">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="aboutUs.html">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="login.html">Get Involved</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="footer-social">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="copyright">
            <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
              <a href="#">GreenEarth</a>.
            </p>
          </div>
        </div>
      </footer>
      <script src="javascripts/aboutus.js"></script>
    </body>
</html>