<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event description</title>
    <link rel="stylesheet" href="../stylesheets/UserEventDes.css">
    <script src="https://kit.fontawesome.com/4cf720d27e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <header id="mydiv" class="page-header">
        <div class="upper-header">
            <div class="logo-container">
                <a href="">
                    <h1>GreenEarth</h1>
                </a>
            </div>
            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input type="search" placeholder="Search..." class="search-bar">
            </div>
            <div class="rightcontent-container" id="login-div">
                <div v-if="loginStatus">
                    <img src="/images/profile.png" @click="toggleDropdown" alt="Profile Picture" onerror="this.onerror=null; this.src=''; this.style.backgroundColor='white'; this.style.borderRadius='50%';">
                    <div class="dropdown-menu" :data-show="clicked.toString()">
                        <ul>
                            <li v-if="user.Role==='User'"><a href="/user/myBranchPage.html">My Branches</a></li>
                            <li v-if="user.Role==='Manager'"><a href="/manager/home.html">Dashboard</a></li>
                            <li v-if="user.Role==='Administrator'"><a href="/admin/admin.html">Dashboard</a></li>
                            <li><a href="/user/profile.html">Your Profile</a></li>
                            <li><a href="/auth/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div v-else="loginStatus">
                    <a href="/auth/login" class="login-btn">Login</a>
                </div>
            </div>
        </div>
        <div class="lower-header">
            <nav class="navbar">
                <ul>
                    <li class="">
                      <a href="/user/landingPage.html" v-if="user.Name">
                          <div class="navbar-link">Home</div>
                      </a>
                      <a href="landingPage.html" v-else>
                          <div class="navbar-link">Home</div>
                      </a>
                    </li>
                    <li class="" v-if="user.Name">
                        <a href="/user/myBranchPage.html">
                            <div class="navbar-link">My Branch</div>
                        </a>
                    </li>
                    <li class="active">
                        <a href="Branches.html">
                            <div class="navbar-link">Branches</div>
                        </a>
                    </li>
                    <li class="">
                        <a href="landingEventPage.html">
                             <div class="navbar-link">Event</div>
                        </a>
                    </li>
                    <li class="" v-if="user.Name">
                        <a href="../user/Update.html">
                            <div class="navbar-link">Update</div>
                        </a>
                    </li>
                    <li class="">
                        <a href="aboutUs.html">
                            <div class="navbar-link">About us</div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="app">
        <div class="img-div">
          <img src="../images/meeting.jpg" alt="name">
        </div>
        <div  class="event-body-container">
            <div class="event-detail">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" id="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/Branches.html">Branches</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Branch details</li>
                    </ol>
                </nav>
                <h1>
                    {{name}}
                </h1>
                <h2>
                    Location
                </h2>
                <div class="date-info">
                    <i class="fa-solid fa-location-pin"></i>
                    <p>{{location}}</p>
                </div>
                <div class="description">
                  <h2>
                      About this Branch
                  </h2>
                  <p>{{description}}</p>
                </div>

                <div class="section">
                  <h2>Events</h2>
                  <ul class="event-list">
                      <li v-for="event in events" :key="event.event_ID" class="event-item">
                          <div class="details">
                              <h3>{{event.Name}}</h3>
                              <p>Date: {{event.Date}}</p>
                              <p>Location: {{event.Location}}</p>
                          </div>
                          <div class="actions">
                              <button @click="directEvent(event)">Details</button>
                          </div>
                      </li>
                      <!-- Add more event items as needed -->
                  </ul>
                  <p v-if="events.length === 0">No events yet.</p>
              </div>

                <div class="section">
                  <h2>Updates</h2>
                  <ul class="update-list">
                      <li class="update-item" v-for="update in truncatedUpdates" :key="update.UpdateID">
                          <div class="details">
                              <h3>{{update.Title}} <span class="">({{update.Time_stamp}})</span></h3>
                              <div v-html="sanitizeHTML(update.truncatedMessage)"></div>
                          </div>
                          <div class="actions">
                              <button type="button" @click="directUpdate(update)">Read More</button>
                          </div>
                      </li>
                  </ul>
                  <p v-if="truncatedUpdates.length === 0">No Updates yet.</p>
                </div>



            </div>

            <div class="ticket-selection">
                <div class="price-display">
                    <p>Price</p>
                    <p style="font-weight: bold;">Free</p>
                </div>
                <button class="checkout-btn">Get ticket</button>
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
          <div class="footer-columns">
            <div class="footer-column">
              <h6>About</h6>
              <p class="text-justify">GreenEarth <i>CONNECTING WITH NATURE</i> is dedicated to promoting environmental awareness and sustainability. We provide resources, articles, and tips on how to live an eco-friendly lifestyle. Join us in making a positive impact on our planet through education, conservation, and community engagement.</p>
            </div>

            <div class="footer-column">
              <h6>Categories</h6>
              <ul class="footer-links">
                <li><a href="#">Sustainability</a></li>
                <li><a href="#">Climate Change</a></li>
                <li><a href="#">Wildlife Conservation</a></li>
                <li><a href="#">Renewable Energy</a></li>
                <li><a href="#">Recycling</a></li>
                <li><a href="#">Green Living</a></li>
              </ul>
            </div>

            <div class="footer-column">
              <h6>Quick Links</h6>
              <ul class="footer-links">
                <li><a href="aboutUs.html">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="login.html">Get Involved</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Sitemap</a></li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="footer-social">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="copyright">
            <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
              <a href="#">GreenEarth</a>.
            </p>
          </div>
        </div>
      </footer>
    <script src="../javascripts/BranchDetail.js"></script>
</body>
</html>