<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <link rel="stylesheet" href="stylesheets/login.css">
  <script src="https://accounts.google.com/gsi/client" async></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

  <div class="container" id="app">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="#">
        <input type="text" v-model="username" placeholder="Enter your User name">
        <input type="password" v-model="password" placeholder="Enter your password">
        <a href="#">Forgot password?</a>
        <input type="button" @click="login()" class="button" value="Login">

        <div id="g_id_onload"
            data-client_id="613277374446-c0gve4793drm7ensis45lgv036m6s503.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="do_google_login"
            data-auto_prompt="false">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="outline"
            data-text="signin_with"
            data-size="large"
            data-locale="en-US"
            data-logo_alignment="left">
        </div>
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
          <label for="check">Signup</label>
        </span>
      </div>

    </div>
    <div class="registration form">
      <header>Signup</header>
      <form action="#">
        <div class="flex-container">
          <div class="flex-row-right">
            <input type="text" placeholder="Username">
            <input type="text" placeholder="First name">
            <input type="text" placeholder="Last name">
            <p>Sign in as</p>

            <div class="option">

              <input type="radio" name="Role" value="Manager"> Manager
              <input type="radio" name="Role" value="User"> User
            </div>

          </div>
          <div class="flex-row-left">
            <input type="text" placeholder="Phone number">
            <input type="email" placeholder="Enter your email">
            <input type="password" placeholder="Create a password">
            <input type="password" placeholder="Confirm your password">
          </div>
        </div>
        <input type="button" class="button" value="Sign up">
        <input type="button" class="button" value="Sign in via Google ">

      </form>
      <div class="signup">
        <span class="signup">Already have an account?
          <label for="check">Login</label>
        </span>
      </div>
    </div>
  </div>

  <script src="./javascripts/login.js"></script>
</body>

</html>